body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
Button{
  width: 32%;
}

Button:hover{
  transition: 1.5s;
  cursor: pointer;
  background-image: linear-gradient(to right, rgb(40, 216, 128), rgb(0, 191, 97), rgb(40, 216, 128));
}

Input:hover{
  box-shadow: 2px 2px;
}

Form{
  margin-left: 40%;
  margin-top: 4	0px;
}

.Judul{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 0, 0);
  margin-left: 46%;
}
